<li>
    {{burger_name}}

    <button class="devoured" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#if devoured}} DEVOUR! {{else}} I'M FULL!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>